@model JewelryShop.Web.ViewModels.Administration.Jewelry.EditJewelViewModel
@{
    var num = 0;
    var imageId = "";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" asp-route-id="@Model.Id" asp-controller="Jewelry" method="post" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Име</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <textarea asp-for="Description" class="form-control" rows="10" cols="50"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label">Тип бижута</label>
                <select asp-for="Category" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(JewelryShop.Data.Models.JewelryCategories.JewelryCategoriesEnum))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SalePrice" class="control-label">Промоционална цена</label>
                <input asp-for="SalePrice" class="form-control" type="number" />
            </div>
            <div class="form-group">
                <label asp-for="SaleDate" class="control-label">Дата на промоцията</label>
                <input asp-for="SaleDate" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input type="file" />
            </div>
            @foreach (var item in Model.Images)
                    {
                        imageId = "image" + num.ToString();
                        num += 1;
                <div class="form-group" id="@imageId" >
                    <div class="img-container" ng-repeat="file in imagefinaldata">
                    <img style="height:120px" class="imgResponsiveMax" src="@item" />
                    <button class="close" type="button" id="openmodalpopup" name="openmodalpopup" data-modal-action="openconfimdialog"
                         data-url="@item" data-jewelId="@Model.Id" data-divId="@imageId">
                             ×
                    </button>
                 </div>
              </div>
             }
            <div class="form-group">
                <label asp-for="Count" class="control-label">Брой</label>
                <input asp-for="Count" class="form-control" type="number" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsArchived" /> Архивиран
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Запази" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Внимание!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Сигурни ли сте, че искате да изтриете избраната снимка?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Не</button>
                <button type="button" class="btn btn-primary" data-modal-action="yes">Да</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        var imageUrl = "";
        var jewelid = "";
        var divId = "";
        $("[data-modal-action=openconfimdialog]").click(function () {
            imageUrl = $(this).attr("data-url");
            jewelid = $(this).attr("data-jewelId");
            divId = $(this).attr("data-divId");
            $("#myModal").modal("show");
        });

        /*  <button type="button" class="btn btn-primary" data-modal-action="yes"> Yes</button> */
        // when user click yes, already you stored the value in id, you can pass the vales in ajax and delete action

        $("[data-modal-action=yes]").click(function () {
            //call the delete ajax method
            deleteAward(imageUrl, jewelid, divId);  //calling delete method
            $("#myModal").modal("hide");
        });


        function deleteAward(imageUrl, jewelid, divId) {
            var divElement = $("#" + divId);

            var json = {
                imageUrl: imageUrl,
                jewelId: parseInt(jewelid)
            };
            var token = $("#editForm input[name=__RequestVerificationToken]").val();
          
            $.ajax({
                url: "/api/images",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#" + divId).remove()                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (errorThrown == "Unauthorized") {
                    }
                }
            });
        }

    </script>
}