@model JewelryShop.Web.ViewModels.Administration.Jewelry.IndexViewModel
@{
    ViewData["Title"] = "Galilani";
}
@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (this.TempData["DeleteMessage"] != null)
{
    <div class="alert alert-danger">
        @this.TempData["DeleteMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-lg input-group">
            <label asp-for="Sort" class="control-label" style="width:80px">Филтър  </label>
            <select asp-for="Filter" onchange="filter(@Model.CurrentPage)" style="width:150px" id="selectFilter" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(JewelryShop.Data.Models.Enums.FilterType))">
            </select>
        </div>
        <div class="col-lg input-group">
            <label asp-for="Sort" class="control-label" style="width:80px">Сортиране  </label>
            <select asp-for="Sort" onchange="filter(@Model.CurrentPage)" style="width:150px" id="selectSort" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(JewelryShop.Data.Models.Enums.SortType))">
            </select>
        </div>
        <div class="col-lg">
            <a asp-area="Administration" asp-controller="Jewelry" asp-action="Create"><i class="fas fa-plus"></i> Добави продукт</a>
        </div>
    </div>
</div>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Снимка
            </th>
            <th>
                Име
            </th>
            <th>
                Цена
            </th>
            <th>
                Налични
            </th>
            <th>
                Брой продадени
            </th>
            <th>
                Рейтинг
            </th>
            <th>
                Архивиран
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Jewelry)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-area="Administration" asp-controller="Jewelry" asp-route-id="@item.Id">
                        <img src="@item.ImageUrlOrDefault" class="img-thumbnail" style="width:120px;" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoldCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsArchived)
                </td>
                <td>
                    <a asp-action="Edit" asp-area="Administration" asp-controller="Jewelry" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Delete" asp-area="Administration" asp-controller="Jewelry" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Предишен</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route-sort="@Model.Sort"
                   asp-route-filter="@Model.Filter"
                   asp-route-page="@(this.Model.CurrentPage - 1)">Предишен</a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link"
                   asp-route-sort="@Model.Sort"
                   asp-route-filter="@Model.Filter"
                   asp-route-page="@i">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Следващ</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route-sort="@Model.Sort"
                   asp-route-filter="@Model.Filter"
                   asp-route-page="@(this.Model.CurrentPage + 1)">Следващ</a>
            </li>
        }
    </ul>
</nav>

@section Scripts
{
    <script type="text/javascript">

        function filter(page)
        {
            var filterValue = $("#selectFilter").val();
            var sortValue = $("#selectSort").val();
            window.location.href = '@Url.Action("Index", "Jewelry")' + '?filter=' + filterValue +'&sort=' + sortValue + '&page=' + page;
        }

    </script>
}