@model  JewelryShop.Web.ViewModels.Administration.Jewelry.IndexViewModel
@{
    ViewData["Title"] = "Galilani";
}
@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<a  asp-area="Administration" asp-controller="Jewelry" asp-action="Create"><i class="fas fa-plus"></i> Добави продукт</a>
<br /><br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Снимка
            </th>
            <th>
                Име
            </th>
            <th>
                Цена
            </th>
            <th>
                Брой
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Jewelry)
        {
            <tr>
                <td>
                    <img src="@item.ImageUr" class="img-thumbnail" style="width:120px;"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    <a asp-action="Edit"  asp-area="Administration" asp-controller="Jewelry" asp-route-id="@item.Id">Редактирай</a> |
                    <a asp-action="Details" asp-area="Administration" asp-controller="Jewelry" asp-route-id="@item.Id">Детайл</a> |
                    <a asp-action="Delete" asp-area="Administration" asp-controller="Jewelry" asp-route-id="@item.Id">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Предишен</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route-page="@(this.Model.CurrentPage - 1)">Предишен</a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link"
                   asp-route-page="@i">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Следващ</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route-page="@(this.Model.CurrentPage + 1)">Следващ</a>
            </li>
        }
    </ul>
</nav>