@model JewelryShop.Web.ViewModels.ProductDetails.IndexViewModel

@{
    ViewData["Title"] = "Details";
    var num = 0;
    var imageCount = Model.Images.Count();
    var thumbnImageId = "thumbn";
    var firstImageUrl = imageCount > 0 ? @Model.Images.ElementAt(0) : "/images/default.png";
}
<div class="container" style="margin:30px;">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <img src="@firstImageUrl" id="mainImage" class="img-fluid" style="width:100%">
            </div>
            <div class="row">
                @if (imageCount > 1)
                {
                    @for (num = 1; num < 3; num++)
                    {
                        @if (imageCount > num)
                        {
                            thumbnImageId = "imgId" + num.ToString();
                            <a onclick="changeImage(@thumbnImageId)"><img src="@Model.Images.ElementAt(num)" id="@thumbnImageId" class="img-thumbnail" style="cursor: pointer; max-width:120px;"></a>
                        }
                    }
                }
            </div>
        </div>
        <div class="details col-md-6 border-info" style="padding-left:70px;">
            <br />
            <br />
            <h3 class="product-title">@Model.Name</h3>
            <br />
            <div class="average-rating">
                <div class="average-rating-checked">
                    @for (int i = 0; i < 5; i++)
                    {
                        if (i < (int)Model.Ratings)
                        {
                            <span class="fa fa-star checked"></span>
                        }
                        else
                        {
                            <span class="fa fa-star"></span>
                        }
                    }

                </div>
            </div>
            <br />
            @if (Model.SaleDate > DateTime.UtcNow)
            {
                <div class="card-group"><span class="text-muted">Промоционална цена:</span><h2> @Model.SalePrice лв</h2></div>
                <div class="form-group"><span class="text-muted">Стара цена: </span>@Model.Price лв</div>
                <div class="form-group"><span class="text-muted">Дата на промоцията: </span> @Model.SaleDate.ToString("MM/dd/yyyy")</div>
            }
            else
            {
                <div class="form-group">
                    <p>
                        <span class="text-muted">Цена: </span><h2>@Model.Price лв</h2>

                    </p>
                </div>
            }
            <br />
            <div class="input-group">
                <span class="text-muted">Брой:  </span>
                <span class="input-group-btn">
                    <button type="button" class="quantity-left-minus btn  btn-warning" data-type="minus" data-field="">
                        <i class="fas fa-minus"></i>
                    </button>
                </span>
                <input  type="text" readonly id="quantity" name="quantity" class="form-control input-number" style="max-width:50px;" value="1" min="1" max="@Model.Count">
                <span class="input-group-btn">
                    <button type="button" class="quantity-right-plus btn btn-warning" data-type="plus" data-field="">
                        <i class="fas fa-plus"></i>
                    </button>
                </span>
            </div>
            <br />
            <div>
                <a id="addProduct" class="btn  btn-success" asp-action="Create" asp-controller="Orders" asp-route-id="@Model.Id" asp-route-quantity="quantityval">Купи</a>
            </div>
        </div>
    </div>
 </div>

<br/>
<br />
<div class="tabs" style="width:100%;">
    <div class="tab-button-outer">
        <ul id="tab-button">
            <li><a href="#tab01">Описание</a></li>
            <li><a href="#tab02">Отзив</a></li>
        </ul>
    </div>
    <div class="tab-select-outer">
        <select id="tab-select">
            <option value="#tab01">Описание</option>
            <option value="#tab02">Отзив</option>
        </select>
    </div>

    <div id="tab01" class="tab-contents">
        <h2>Описание</h2>
        <p>@Model.Description</p>
    </div>
    <div id="tab02" class="tab-contents">
        <h2>Отзив</h2>
       
        <div class="row bootstrap snippets">
            <div class="col-md-6 col-md-offset-2 col-sm-12">
                <div class="comment-wrapper">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <form id="ratingsForm" method="post"></form>
                            <div class="rating">
                                <input type="radio" name="rating" value="5" id="5">
                                <label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4">
                                <label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3">
                                <label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2">
                                <label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1">
                                <label for="1">☆</label>
                            </div>
                            <textarea id="review" class="form-control" rows="3" cols="50" placeholder="write a comment..."></textarea>
                            <br>
                            <input type="submit" class="btn btn-info pull-right" onclick="rate(@Model.Id)" />
                            <div class="alert alert-danger alert-dismissible" id="alertLogin" style="visibility:hidden;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>За да оставите отзив, моля влезте във Вашия профил!</strong> .
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            <ul class="media-list">
                                @foreach (var item in Model.JewelryRatings)
                                {

                                    <li class="media">
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">@item.CreatedOn.ToShortDateString()</small>
                                            </span>
                                            <span class="text-muted pull-left">
                                                <strong>@item.UserUserName </strong>
                                            </span>
                                            <br />
                                            <div class="rating-checked">
                                                @for (int i = 0; i < 5; i++)
                                                {
                                                    if (i < (int)item.Type)
                                                    {
                                                        <span class="fa fa-star checked"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-star"></span>
                                                    }
                                                }
                                            </div>
                                            <p>
                                                @item.Review
                                            </p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>