@model JewelryShop.Web.ViewModels.ProductDetails.IndexViewModel

@{
    ViewData["Title"] = "Details";
    var num = 0;
    var imageCount = Model.Images.Count();
}
<div style="width: 100%; display: table;">
    <div style="display: table-row; height: 100px;">
        <div style="width: 50%; display: table-cell; padding:5%;">
            <div style="width:100%;">
                <img src="@Model.Images.ElementAt(0)" style="width:100%">
            </div>

            @if (imageCount > 1)
            {
                <div style="display: table-row; height: 100%;">
                    @for (num = 1; num < 3; num++)
                    {
                        @if (imageCount > num)
                        {
                            <div style="display: table-cell; width:30%;">

                                <img src="@Model.Images.ElementAt(num)" style="width:100%">

                            </div>
                        }
                        else
                        {
                            <div style=" padding: 100px; width: 30%; display: table-cell;"></div>
                        }
                    }
                </div>
            }
        </div>
        <div style="display: table-cell;padding:5%; top:10px; vertical-align: top;" class="col-md-6 mb-4">
            <h3>@Model.Name</h3>
            @if (Model.SaleDate > DateTime.UtcNow)
            {
                <p>Стара цена: @Model.Price лв</p>
                <p>Промоционална цена: @Model.SalePrice</p>
                <p>Дата на промоцията: @Model.SaleDate.ToString("MM/dd/yyyy")</p>
            }
            else
            {
                <h4>@Model.Price лв</h4>

            }
            <div id="totalRatings">@Model.Ratings</div>
            <div class="average-rating">
                <div class="average-rating-checked">
                    @for (int i = 0; i < 5; i++)
                    {
                        if (i < (int)Model.Ratings)
                        {
                            <span class="fa fa-star checked"></span>
                        }
                        else
                        {
                            <span class="fa fa-star"></span>
                        }
                    }
                </div>
            </div>
            <p>Брой: @Model.Count</p>
            <p></p>
            <input type="submit" value="Купи"  onclick="addToCart(@Model.Id)" class="btn btn-primary" />
        </div>
    </div>
</div>


<div class="tabs" style="width:100%;">
    <div class="tab-button-outer">
        <ul id="tab-button">
            <li><a href="#tab01">Описание</a></li>
            <li><a href="#tab02">Отзив</a></li>
        </ul>
    </div>
    <div class="tab-select-outer">
        <select id="tab-select">
            <option value="#tab01">Описание</option>
            <option value="#tab02">Отзив</option>
        </select>
    </div>

    <div id="tab01" class="tab-contents">
        <h2>Описание</h2>
        <p>@Model.Description</p>
    </div>
    <div id="tab02" class="tab-contents">
        <h2>Отзив</h2>
       
        <div class="row bootstrap snippets">
            <div class="col-md-6 col-md-offset-2 col-sm-12">
                <div class="comment-wrapper">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <form id="ratingsForm" method="post"></form>
                            <div class="rating">
                                <input type="radio" name="rating" value="5" id="5">
                                <label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4">
                                <label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3">
                                <label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2">
                                <label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1">
                                <label for="1">☆</label>
                            </div>
                            <textarea id="review" class="form-control" rows="3" cols="50" placeholder="write a comment..."></textarea>
                            <br>
                            <input type="submit" class="btn btn-info pull-right" onclick="rate(@Model.Id)" />

                            <div class="clearfix"></div>
                            <hr>
                            <ul class="media-list">
                                @foreach (var item in Model.JewelryRatings)
                                {
                                   
                                    <li class="media">
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">@item.CreatedOn.ToShortDateString()</small>
                                            </span>
                                            <span class="text-muted pull-left">
                                                <strong>@item.UserUserName </strong>
                                            </span>
                                            <br/>
                                            <div class="rating-checked">
                                                @for (int i = 0; i < 5; i++)
                                                {
                                                    if (i < (int)item.Type)
                                                    {
                                                        <span class="fa fa-star checked"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-star"></span>
                                                    }
                                                }
                                            </div>
                                            <p>
                                                @item.Review
                                            </p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function addToCart(id) {

            var token = $("#ratingsForm input[name=__RequestVerificationToken]").val();
            var json = { jewelId: id, quantity: "1"};

            $.ajax({
                url: "/api/orders",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                }
            });
        }
                
        function rate(id) {

            var radios = document.getElementsByName('rating');
            var length = radios.length;
            var selected_value = -1;
            for (var i = 0; i < length; ++i) {
                if (radios[i].checked) {
                    selected_value = radios[i].value;
                    break;
                }
            }

            var review = document.getElementById("review").value;
            var token = $("#ratingsForm input[name=__RequestVerificationToken]").val();
            var json = { jewelId: id, rating: parseInt(selected_value), review: review };

            $.ajax({
                url: "/api/ratings",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {

                    $("#totalRatings").html(data.avarageRating);
                    $("#review").html("");

                    $(".media").remove();
                    $(".average-rating-checked").remove();

                    var averageRatingHtml = '<div class="average-rating-checked">';
                    for (var i = 0; i < 5; i++) {
                        if (i < parseInt(data.avarageRating)) {
                            averageRatingHtml += ' <span class="fa fa-star checked"></span>';
                        }
                        else {
                            averageRatingHtml += '<span class="fa fa-star"></span>';
                        }
                    }

                    averageRatingHtml += '</div>';
                    $(".average-rating").append(averageRatingHtml);

                    var htmlMedia = "";
                    for (var item in data.jewelryRatings) {
                        var date = new Date(data.jewelryRatings[item].createdOn);
                        var mydate = date.toLocaleDateString();

                        htmlMedia = ' <li class="media">';

                        htmlMedia += '<div class="media-body">';
                        htmlMedia += '   <span class="text-muted pull-right">';
                        htmlMedia += '       <small class="text-muted">' + mydate + '</small>';
                        htmlMedia += '    </span>';
                        htmlMedia += '    <span class="text-muted pull-left">';
                        htmlMedia += '       <strong>' + data.jewelryRatings[item].userUserName + '</strong>';
                        htmlMedia += '    </span><br/>';
                        htmlMedia += '    <div class="rating-checked">';

                        for (var i = 0; i < 5; i++) {
                            if (i < parseInt(data.jewelryRatings[item].type)) {
                                htmlMedia += ' <span class="fa fa-star checked"></span>';
                            }
                            else {
                                htmlMedia += '<span class="fa fa-star"></span>';
                            }
                        }

                        htmlMedia += ' </div>';
                        htmlMedia += '        <p>';
                        htmlMedia += data.jewelryRatings[item].review;
                        htmlMedia += '       </p>';

                        htmlMedia += '     </div>';
                        htmlMedia += '     </li >';
                        htmlMedia += '     </li >';
                        $(".media-list").append(htmlMedia);
                    }


                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }
        $(function () {
            var $tabButtonItem = $('#tab-button li'),
                $tabSelect = $('#tab-select'),
                $tabContents = $('.tab-contents'),
                activeClass = 'is-active';

            $tabButtonItem.first().addClass(activeClass);
            $tabContents.not(':first').hide();

            $tabButtonItem.find('a').on('click', function (e) {
                var target = $(this).attr('href');

                $tabButtonItem.removeClass(activeClass);
                $(this).parent().addClass(activeClass);
                $tabSelect.val(target);
                $tabContents.hide();
                $(target).show();
                e.preventDefault();
            });

            $tabSelect.on('change', function () {
                var target = $(this).val(),
                    targetSelectNum = $(this).prop('selectedIndex');

                $tabButtonItem.removeClass(activeClass);
                $tabButtonItem.eq(targetSelectNum).addClass(activeClass);
                $tabContents.hide();
                $(target).show();
            });
        });
    </script>
}