@model JewelryShop.Web.ViewModels.Home.IndexViewModel
@inject JewelryShop.Services.Data.IJewelryCategoriesService  jewelryCategoriesService
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/banner.jpeg" />
</div>


<div class="container">
    <div class="row">
        <hr />
    </div>
    <div class="row">

        <div class="col-lg-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled">Категории</a>

                @foreach (var item in jewelryCategoriesService.GetJewelryCategories())
                {
                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-route-category="@item.Key" asp-action="Index">@item.Value</a>
                }
            </div>
        </div>

        <div class="col-lg-9">
            <div class="form-group" >
                <div class="form-row">
                    <div class="input-group col-md-7">
                        <input type="search" id="inputSearch" name="search" class="form-control" value="@this.Model.Search" placeholder="Търсене..." />
                        <div class="input-group-append">
                            <input type="button" value="Търси" class="btn btn-outline-secondary"  onclick="sort(@Model.Category, @Model.CurrentPage)" />
                        </div>
                    </div>
                    <div class=" col-md-5">
                        <select class="custom-select" id="selectSort" onchange="sort(@Model.Category, @Model.CurrentPage)" title="Сортиране"
                                asp-for="Sort" asp-items="@Html.GetEnumSelectList(typeof(JewelryShop.Data.Models.Enums.SortType))">
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="row col-12">
                @foreach (var item in this.Model.Jewelry)
                {
                    <div class="col-lg-4 col-md-3 mb-4">
                        <div class="card h-100" style="align-content:center">
                            <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Home"><img class="card-img-bottom" style="height:200px;" src="@item.ImageUrlOrDefault" alt=""></a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Home">@item.Name</a>
                                </h5>
                                @if (item.SaleDate > DateTime.Now)
                                {
                                    <h5>@item.SalePrice лв</h5>
                                    <span class="text-muted oldprice">@item.Price лв</span>

                                }
                                else
                                {
                                    <span>Цена:</span> <h5>@item.Price лв</h5>
                                }
                            </div>
                            <div class="card-footer">
                                @for (var num = 0; num < 5; num++)
                                {
                                    if (num < (int)item.Ratings)
                                    {
                                        <small class="text-muted">&#9733;</small>
                                    }
                                    else
                                    {
                                        <small class="text-muted">&#9734;</small>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                @if (this.Model.Jewelry.Count() == 0)
                { 
                    <div class="alert-light">Не са открити продукти, отговарящи на критериите от търсенето.</div>
                }
                </div>
            <!-- /.row -->
        </div>
    </div>
</div>

<nav>
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Предишен</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route-search="@this.Model.Search"
                   asp-route-category="@this.Model.Category"
                   asp-route-sort="@this.Model.Sort"
                   asp-route-page="@(this.Model.CurrentPage - 1)">Предишен</a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link"
                   asp-route-category="@this.Model.Category"
                   asp-route-search="@this.Model.Search"
                   asp-route-sort="@this.Model.Sort"
                   asp-route-page="@i">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Следващ</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route-name="@this.Model.Category"
                   asp-route-search="@this.Model.Search"
                   asp-route-sort="@this.Model.Sort"
                   asp-route-page="@(this.Model.CurrentPage + 1)">Селдващ</a>
            </li>
        }
    </ul>
</nav>


